$accent-color: #2196f3;
$body-bg: #100e17;
$card-bg: #202026;
$green-color: #28a745;
$font-color: #222;

body {
	margin: 0;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	transition: all 0.3s ease;
	user-select: none;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #bbb;
		border-radius: 3px;
	}

	@media screen and (max-width: 767px) {
		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

a {
	text-decoration: none;
	color: #fff;

	&:focus {
		outline: 0;
	}
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:focus,
textarea:focus {
	outline: 0;
	box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
}

ul {
	margin: 0;
	list-style: none;
	padding-inline-start: 0;
}

li {
	list-style-type: none;
	list-style: none;
	margin: 0;
}

section {
	padding: 100px 0;

	@media screen and (max-width: 767px) {
		padding: 30px 0;
	}
}

.container {
	padding: 0 8%;
	box-sizing: border-box;

	@media screen and (max-width: 767px) {
		padding-top: 30px;
	}
}

.hide {
	display: none;
}

#loader {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	z-index: 99;
	background-color: #fff;

	div {
		width: 100px;
		height: 100px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before,
		&:after {
			content: "";
			box-sizing: content-box;
			position: absolute;
			border: 4px solid #e91e63;
			opacity: 1;
			border-radius: 50%;
			animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		}

		&:after {
			border-color: #0dbda1;
			animation-delay: 0.5s;
		}

		@keyframes loader {
			from {
				width: 0;
				height: 0;
				opacity: 1;
			}
			to {
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

#portfolio {
	background-color: $body-bg;
	min-width: 360px;
	transition: background-color 0.3s ease, all 0.5s ease;
}

/* ---------------------navbar----------------- */

#navbar {
	z-index: 1;
	height: 100px;
	position: fixed;

	@media screen and (max-width: 767px) {
		height: 60px;
		bottom: 0;
		width: 100%;

		.nav-container {
			position: relative;
			height: 100%;

			ul {
				position: relative;
				padding: 0;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: space-evenly;
				margin-top: 0;
				box-sizing: border-box;
				background-color: $accent-color;

				li {
					position: relative;
					display: block;
					margin: 0;
					width: 25%;

					& > * {
						color: rgba(255, 255, 255, 0.5);
					}

					&.selected > * {
						color: #fff;
					}

					i {
						position: absolute;
						display: inline-block;
						top: 12px;
						left: 50%;
						transform: translateX(-50%);
					}

					a {
						height: 100%;
						min-width: 100%;
						display: block;
						line-height: 85px;
					}
				}
			}
		}
	}
}

.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $card-bg;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.5s ease;

	button {
		display: none;
	}

	ul {
		text-align: center;
		padding: 30px;
		margin: 0;
	}

	li {
		display: inline-block;
		margin: 0 20px;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;

		a {
			display: inline-block;
			text-transform: capitalize;
			height: 40px;
			min-width: 100px;
			line-height: 40px;
			font-size: 18px;
			font-weight: bold;

			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}

		i {
			display: none;
		}

		&.selected {
			border-bottom: 2px solid $accent-color;

			a {
				color: $accent-color;
			}
		}
	}

	.theme-changer {
		border-radius: 50%;
		overflow: hidden;
		width: 48px;
		height: 48px;
		right: 16px;
		bottom: 16px;
		display: inline-block;
		position: fixed;

		button {
			display: inline-block;
			height: 100%;
			width: 100%;
			border: 0;
			padding: 0;
			outline: 0;
			box-shadow: none;
			background-color: #fff;
			color: #000;
			font-size: 24px;
			line-height: 48px;
			cursor: pointer;
		}

		.dark {
			display: inline-block;
		}

		.light {
			display: none;
		}

		@media screen and (max-width: 767px) {
			bottom: 76px;
		}
	}
}

/* -----------------------home-------------------- */

#home {
	.hello {
		display: inline-block;
		padding: 5px 30px;
		background-color: $accent-color;
		line-height: 24px;
		border-radius: 20px;
		font-size: 14px;
		font-weight: bold;
		border-bottom-left-radius: 0;
		margin: 20px 0;
		color: #fff;
	}

	.container {
		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	.full-name {
		font-size: 55px;
		font-weight: 600;
		margin: 10px 0;

		@media screen and (min-width: 768px) and (max-width: 850px) {
			font-size: 51px;
		}

		@media screen and (max-width: 480px) {
			font-size: 45px;
		}

		@media screen and (max-width: 360px) {
			font-size: 40px;
		}
	}

	.position {
		font-size: 26px;
		margin: 10px 0 30px;
		font-weight: bold;

		@media screen and (min-width: 768px) and (max-width: 850px) {
			font-size: 22px;
		}

		@media screen and (max-width: 480px) {
			font-size: 20px;
		}
	}

	.info {
		width: 52%;

		@media screen and (max-width: 767px) {
			width: 100%;
			text-align: center;
		}
	}

	.details {
		li {
			margin: 10px 0;
			cursor: pointer;

			i {
				height: 16px;
				width: 16px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 8px;
			}
		}

		a {
			font-weight: bold;
			font-size: 14px;
			margin: 10px 0;
		}
	}

	.social {
		margin: 20px 0;

		a {
			display: block;
			height: 100%;
			border-radius: 4px;
			cursor: pointer;
		}

		li {
			display: inline-block;
			width: 36px;
			height: 36px;
			text-align: center;
			margin: 10px;
			margin-left: 0;
			border-radius: 4px;
			position: relative;

			i {
				display: inline-block;
				font-size: 24px;
				line-height: 36px;
			}

			&:hover a {
				background: #fff;
				color: #222;
			}
		}
	}

	.profile-pic {
		box-sizing: border-box;
		width: 48%;
		text-align: center;
		padding-top: 60px;

		.img-border {
			border-radius: 50%;
			box-sizing: border-box;
			display: inline-block;
			transition: border 0.5s ease;

			.image {
				border-radius: 50%;
				height: 100%;
				width: 100%;
				max-width: 350px;
				max-height: 350px;
				display: block;
				box-sizing: border-box;
				transition: border 0.5s ease;

				@media screen and (min-width: 768px) and (max-width: 850px) {
					max-width: 300px;
					max-height: 300px;
				}
			}
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-top: 0;
			padding-bottom: 50px;
		}
	}
}

/* ----------------------- about --------------------- */

#about {
	.about-image img {
		width: 100%;
	}

	.container > * {
		width: 50%;
		display: inline-block;
		vertical-align: middle;

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}

	.about-title {
		font-size: 32px;
		margin: 20px 0;
		font-weight: bold;
	}

	.about-me {
		padding-left: 50px;
		box-sizing: border-box;

		@media screen and (max-width: 767px) {
			padding-left: 0;
			text-align: center;
		}
	}

	.about-desc {
		font-size: 14px;
		margin-bottom: 30px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.5px;
	}

	.prog-languages ul li {
		display: inline-block;
		padding: 6px 12px;
		margin: 0px 6px 10px;
		border: 2px solid $accent-color;
		border-radius: 6px;
		font-weight: bold;
		font-size: 14px;

		& * {
			display: inline-block;
			vertical-align: middle;
		}

		i.lang-icon {
			border: 1px solid;
			height: 24px;
			width: 24px;
			margin-right: 6px;
		}
	}

	.download-btn {
		display: inline-block;
		margin-top: 20px;

		a {
			display: inline-block;
			padding: 12px 30px;
			box-sizing: border-box;
			background-color: $accent-color;
			border-radius: 24px;
			border: none;
			font-weight: bold;
			font-size: 16px;
			cursor: pointer;

			& > * {
				display: inline-block;
				vertical-align: top;
				color: #fff;
			}

			i {
				margin-left: 8px;
				font-size: 18px;
			}
		}
	}
}

/* ------------------ service ----------- */

#service {
	.title {
		font-size: 32px;
		margin: 0;
		margin-bottom: 60px;
		text-align: center;
	}

	#cards-container {
		display: flex;
		@media screen and (max-width: 767px) {
			display: block;
		}
	}

	.card {
		flex: 1;
		display: inline-block;
		vertical-align: top;
		padding: 20px;
		width: calc(33% - 12px);
		box-sizing: border-box;
		background-color: $card-bg;
		box-shadow: -7px 7px 20px #000;
		transition: background-color 0.5s ease, box-shadow 0.5s ease;

		&:not(:last-child) {
			margin-right: 15px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
			flex: none;
		}
	}

	.header {
		font-size: 25px;
		margin: 0;
		margin-bottom: 18px;
		line-height: 32px;
		height: 65px;
	}

	.description {
		font-size: 14px;
		margin-bottom: 16px;
		line-height: 20px;
		text-align: justify;
	}

	.icon-bg {
		margin-top: 16px;
		margin-bottom: 20px;
		height: 40px;
		width: 40px;
		display: inline-block;
	}
}

/* --------------- skills ------------------- */

#skills {
	.container > * {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}

	.heading {
		font-size: 30px;
		margin-bottom: 60px;
		text-align: center;
	}

	#technical .technical-container {
		.name {
			font-size: 15px;
			display: inline-block;
			font-weight: bold;
		}

		.value {
			font-size: 14px;
			float: right;
			font-weight: bold;
		}

		.progress {
			margin-bottom: 22px;
			line-height: 24px;

			.progress-bar {
				width: 100%;
				height: 7px;
				background-color: #ddd;
				border-radius: 10px;
				margin-top: 5px;

				.filled-bar {
					background-color: $accent-color;
					height: 100%;
					border-radius: 10px;

					&.animate-on-scroll {
						animation: fillBar 3s linear;
					}
				}

				@keyframes fillBar {
					from {
						width: 0;
					}
					to {
						width: 80%;
					}
				}
			}

			&:nth-child(1) .progress-bar .filled-bar.animate-on-scroll {
				animation: fillBar1 3s linear;
			}

			@keyframes fillBar1 {
				from {
					width: 0;
				}
				to {
					width: 85%;
				}
			}

			&:nth-child(4) .progress-bar .filled-bar.animate-on-scroll {
				animation: fillBar2 3s linear;
			}

			&:nth-child(5) .progress-bar .filled-bar.animate-on-scroll {
				animation: fillBar2 3s linear;
			}

			@keyframes fillBar2 {
				from {
					width: 0;
				}
				to {
					width: 70%;
				}
			}
		}
	}

	.professional-container {
		margin: 0 auto;
		max-width: 400px;

		& > * {
			display: inline-block;
			width: 50%;
			margin-bottom: 40px;
			text-align: center;
			vertical-align: top;
		}

		@media screen and (max-width: 767px) {
			max-width: unset;
		}

		.circle-container {
			position: relative;

			.circle {
				width: 100px;
				height: 100px;
				margin-bottom: 10px;
				display: inline-block;
				background-color: #ddd;
				border-radius: 50%;
				position: relative;

				.mask {
					$defaultPercent: calc(360deg * 75 / 100 - 180deg);
					position: absolute;
					background-color: #ddd;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					border-radius: 50%;
					clip: rect(0, 100px, 100px, 50px);

					.fill {
						clip: rect(0, 50px, 100px, 0);
						width: 100%;
						height: 100%;
						position: absolute;
						background-color: $accent-color;
						left: 0;
						top: 0;
						border-radius: 50%;
						transform: rotate(180deg);
						backface-visibility: hidden;
						&.animate-on-scroll {
							animation: rotateLeft 1.5s linear;
						}
					}

					&.right {
						clip: rect(0, 50px, 100px, 0);
						.fill {
							clip: rect(0, 100px, 100px, 50px);
							transform: rotate($defaultPercent);
							&.animate-on-scroll {
								animation: rotateRight 3s linear;
							}
						}
					}

					@keyframes rotateLeft {
						from {
							transform: rotate(0deg);
						}
						to {
							transform: rotate(180deg);
						}
					}

					@keyframes rotateRight {
						0% {
							transform: rotate(0deg);
						}
						50% {
							transform: rotate(0deg);
						}
						100% {
							transform: rotate($defaultPercent);
						}
					}
				}

				&:after {
					content: "";
					width: 88px;
					height: 88px;
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: $body-bg;
					border-radius: 50%;
					transition: background-color 0.5s ease;
				}
			}

			&:nth-child(2) .circle .mask.right {
				$projectPercent: calc(360deg * 85 / 100 - 180deg);
				@keyframes rotateProjectRight {
					0% {
						transform: rotate(0deg);
					}
					50% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate($projectPercent);
					}
				}

				.fill {
					transform: rotate($projectPercent);
					&.animate-on-scroll {
						animation: rotateProjectRight 3s linear;
					}
				}
			}

			&:nth-child(3) .circle .mask.right {
				$teamPercent: calc(360deg * 80 / 100 - 180deg);
				@keyframes rotateTeamRight {
					0% {
						transform: rotate(0deg);
					}
					50% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate($teamPercent);
					}
				}

				.fill {
					transform: rotate($teamPercent);
					&.animate-on-scroll {
						animation: rotateTeamRight 3s linear;
					}
				}
			}
		}
	}

	#professional {
		.value {
			line-height: 100px;
			position: relative;
			font-size: 16px;
			font-weight: bold;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		.name {
			font-size: 14px;
			font-weight: bold;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 50px;
		}
	}

	.circle-container:nth-child(n + 3) {
		margin-bottom: 0;
	}
}

/* ------------------------------- experience --------------------------- */

#experience {
	.heading {
		font-size: 30px;
		margin-bottom: 60px;
		text-align: center;

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}

	.container > * {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		box-sizing: border-box;
	}

	#education {
		padding-right: 30px;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-right: 0;
		}
	}

	#work-experience {
		padding-left: 30px;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-left: 0;
		}
	}

	.card {
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 4px;
		background-color: transparent;
		perspective: 1000px;
		height: 150px;

		&:hover {
			.inner-card {
				transform: rotateY(180deg);
			}
		}

		.inner-card {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: $card-bg;
			box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
			transition: background-color 0.5s ease, box-shadow 0.5s ease;
			transition: transform 0.6s;
			transform-style: preserve-3d;

			.card-front,
			.card-back {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 26px 30px;
				box-sizing: border-box;
				background-color: $card-bg;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
			}

			.card-back {
				transform: rotateY(180deg);
			}
		}
	}

	.education-name {
		font-size: 20px;
		font-weight: 600;
		color: $accent-color;
	}

	.education-from {
		font-size: 20px;
		font-weight: 600;
		font-style: italic;
		display: block;
	}

	.year {
		margin: 10px 0;
	}

	.education-from,
	.year {
		font-size: 19px;
	}

	.work-name {
		font-size: 20px;
	}

	.work-from {
		color: $accent-color;
		font-size: 20px;
		font-style: italic;
	}

	ul,
	li {
		list-style: inside;
		font-size: 16px;
	}

	#responsibility {
		margin-bottom: 8px;
		display: block;
		font-size: 18px;
	}
}

/* ------------------------ project -------------------------- */

#projects {
	padding-bottom: 0;

	.project-title {
		text-align: center;
		margin-bottom: 60px;
		font-size: 30px;
	}

	.project-nav-container {
		text-align: center;
		margin-bottom: 50px;

		ul li {
			display: inline-block;
			margin: 0 10px;
			padding: 15px 10px;
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;

			&.selected {
				border-bottom: 2px solid $accent-color;
				color: $accent-color;
			}
		}
	}

	.project-cards-container {
		column-count: 3;
		column-gap: 0px;

		.project-cards {
			display: inline-block;
			vertical-align: top;
			border-radius: 10px;
			position: relative;
			text-align: center;
			color: #fff;
			box-sizing: border-box;
			width: 100%;
			padding: 15px;
			opacity: 1;
			transition: opacity 0.5s, width 0.5s, height 0.5s;

			&.hide-card {
				height: 0 !important;
				opacity: 0;
				width: 0;
				padding: 0;
				transition: opacity 0.5s, width 0.5s, height 0.5s;
			}

			.hover-parent {
				display: flex;
				align-items: center;
				flex-flow: column;
				justify-content: center;
				position: absolute;
				left: 15px;
				top: 15px;
				height: calc(100% - 30px);
				width: calc(100% - 30px);
				background-color: rgba(0, 142, 255, 0.8);
				border-radius: 10px;
				color: #fff;
				clip-path: circle(0% at center);
				transition: clip-path 0.5s ease;

				& > * {
					display: inline-block;
					line-height: 24px;
				}

				.card-name {
					font-weight: bold;
				}

				.card-icon {
					font-size: 20px;
					line-height: 28px;
				}
			}

			a {
				height: 100%;
				width: 100%;
				background-color: #efefef;
				display: inline-block;
				border-radius: 10px;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

				.img-container {
					height: 100%;
					width: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					&.tictactoe {
						background-image: url("../assets/tictactoe.png");
					}

					&.curis {
						background-image: url("../assets/curis.png");
					}

					&.snake {
						background-image: url("../assets/snake.png");
					}

					&.sorting {
						background-image: url("../assets/sorting.png");
					}
				}

				&:hover .hover-parent {
					clip-path: circle(100% at center);
				}
			}
		}

		@media screen and (min-width: 1440px) {
			column-count: 4;
		}

		@media screen and (max-width: 767px) {
			column-count: 2;
		}

		@media screen and (max-width: 575px) {
			column-count: 1;
		}
	}
}

/* ------------------------ contact -------------------------- */

#contact {
	padding: 0 0 32px;

	@media screen and (max-width: 767px) {
		padding: 0 0 80px;
	}
}

.footer {
	padding: 0 8%;

	.page-footer {
		& > * {
			display: inline-block;
			width: 50%;
			box-sizing: border-box;

			@media screen and (max-width: 767px) {
				width: 100%;
				padding: 0;
				text-align: center;
				margin-top: 20px;
			}
		}

		.copyright {
			padding-left: 15px;
			font-size: 14px;
		}

		.social-media {
			padding-left: 22px;
			text-align: right;

			li {
				display: inline-block;
				margin-right: 20px;
				font-size: 20px;
			}

			a {
				width: 100%;
				height: 100%;
				display: inline-block;
			}
		}

		@media screen and (max-width: 767px) {
			margin-top: 20px;

			.social-media {
				padding-left: 0px;
				text-align: center;
			}
		}
	}
}

/* ------------------------ icons -------------------------- */

.icon {
	background-repeat: no-repeat;
	background-size: cover;
}

.ui-icon {
	background-image: url("../assets/ui.png");
}

.code-icon {
	background-image: url("../assets/code.png");
}

.app-icon {
	background-image: url("../assets/app-dev.png");
}

/* --------------------------------- light mode -------------------------------------- */

#portfolio.light-mode {
	color: $font-color;
	background-color: #fff;

	a,
	.nav-container {
		color: $font-color;
	}

	#navbar {
		.nav-container {
			background-color: #fff;

			li.selected {
				border-color: $accent-color;
			}

			.theme-changer {
				button {
					background-color: #000;
					color: #fff;
				}

				.dark {
					display: none;
				}

				.light {
					display: inline-block;
				}
			}
		}
	}

	#service .card,
	#experience .card .inner-card {
		background-color: #fff;
		box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);

		.card-front,
		.card-back {
			background-color: #fff;
		}
	}

	#skills .professional-container .circle-container .circle:after {
		background-color: #fff;
	}

	#home {
		.social li {
			background: #fff;
			color: #222;

			&:hover a {
				background: #000;
				color: #fff;
			}
		}
	}
}
